<%- include('include/head.ejs') %>
    <link rel="stylesheet" href="/css/player.css">
    </head>

    <body>
        <div class="card">
            <center>
                <h2>Music Name</h2>
                <img src="https://images.8tracks.com/cover/i/000/313/145/anime-music-widescreen-original-693454-3168.jpg?rect=0,0,500,500&q=98&fm=jpg&fit=max" alt="Image">
                <audio controls>
            <source src="https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_700KB.mp3" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
                <hr>
                <span class="cr">
                Copyright 2020 | All Rights Reserved
              </span>
            </center>
        </div>

        <%- include('include/end.ejs') %>