<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar" style="height:fit-content">
    <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/search" style="margin-left:5px"><i class="fa fa-fw fa-search"></i> Search</a>
    <a href="/stars?page=1&row=prev"><i class="fa fa-fw fa-user"></i>Stars</a>
    <a href="/premium" style="margin-left:5px"><i style="font-size:24px;margin-left:5px" class="fa">&#xf025;</i>Premium</a>

    <a href="/addStar"><i style="margin-right:10px" class="fa">&#xf234;</i>Add Star</a>
    <a href="/addSong"><i style="margin-right:10px" class="fa">&#xf234;</i>Add Song</a>
    <a href="/logout"><i style="margin-right:10px" class="fa">&#xf08b;</i>Logout</a>
    <a href="/change_password"><i style="margin-right:10px" class="fa">&#xf08b;</i>Change Password</a>


</div>